<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome </title>
</head>
<body>
    <h3>Create an email</h3>
    <form action="/createEmail" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email"><br>
        <label for="balance">Current Balance:</label>
        <input type="float" name="balance"><br>
        <label for="scategory">Saving Category:</label>
        <input type="text" name="scategory"><br>
        <label for="delta">Delta:</label>
        <input type="number" name="delta"><br>
        <button>Create</button>
    </form>

    <h3>Login</h3>
    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <button>Login</button>
    </form>

</body>
</html>